<h2>Change your password</h2>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% elsif flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>

<form action="/change_password" method="POST">
  <dl>
    <dt>New password:</dt>
    <dd><input type="password" name="new_password" required></dd>
    <dt>Confirm new password:</dt>
    <dd><input type="password" name="new_password2" required></dd>
  </dl>
  <div class="actions"><input type="submit" value="Update Password"></div>
</form>