<div class="login-container">
  <h2 style="text-align: center;">Sign Up</h2>

  <% if flash[:error] %>
    <div class="error" style="text-align: center;"><%= flash[:error] %></div>
  <% end %>

  <form action="/api/register" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="<%= params[:username] %>" required>
    </div>

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" value="<%= params[:email] %>" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
      <label for="password2">Confirm your password </label>
      <input type="password" id="password2" name="password2" required>
    </div>

    <div class="actions">
      <input type="submit" id="register-button" value="Sign Up">
    </div>
  </form>
</div>
<div class="login-link">
  Already have an account? <a href="/login">Log in</a>
</div>