# Docker Compose er som en platform, hvor vi beskriver hvordan vores 
# services / containere hører sammen og kan styres samlet
services:
  app:
    container_name: app-whoknows
    image: ghcr.io/devops-valgfag/app-whoknows:latest
    restart: unless-stopped         # gør at containeren genstarter, hvis den stopper af sig selv
    
    environment:
      RACK_ENV: production
      SESSION_SECRET: ${SESSION_SECRET}
    volumes:
      - /home/adminuser/data:/data   # laver volumes (gør SQLite persistent)
    networks:
      - web                         # det interne netværk så de forskellige services kan snakke sammen
    expose:
      - "8080"                      # gør port 8080 tilgængelig internt til nginx

  nginx:
    container_name: whoknows-nginx  
    image: nginx:1.27-alpine        # starter Nginx-container som reverse proxy / frontend
    depends_on:
      - app                         # dette sikrer at Ruby-app starter først
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/ssl/certs:ro
    ports:
      - "80:80"                   # gør port 80 og 443 tilgængeligt udefra, altå indbound ports
      - "443:443"
    networks:
      - web
    restart: unless-stopped

volumes:
  sqlite_data:                      # fælles ressource: Docker-volume, hvor whoknows.db ligger

networks:
  web:                              # isoleret internt netværk hvor app og Nginx kan kommunikere
    driver: bridge
