services:
  db:
    image: postgres:17
    container_name: whoknows-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: whoknows
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d whoknows"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
    container_name: app-whoknows
    image: ghcr.io/devops-valgfag/app-whoknows:${IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      RACK_ENV: production
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@db:5432/whoknows
    networks:
      - web
    expose:
      - "8080"

  nginx:
    container_name: whoknows-nginx
    image: nginx:1.27-alpine
    depends_on:
      - app
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/ssl/certs:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  web:
    driver: bridge
