name: Build & Deploy (GHCR ➜ Azure)

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

env:
  IMAGE_NAME: ghcr.io/devops-valgfag/app-whoknows
  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=raw,value=latest

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: ./new_app_ruby
          file: ./new_app_ruby/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
        # --- SIKKER SSH OPSÆTNING uden 3.party extensions---
      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AZURE_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.AZURE_HOST }} >> ~/.ssh/known_hosts

      # --- KOPIÉR FILER TIL SERVER ---
      - name: Upload docker compose & nginx to VM
        run: |
          scp -i ~/.ssh/id_rsa \
            new_app_ruby/docker-compose.yml \
            new_app_ruby/nginx.conf \
            "${{ secrets.AZURE_USER }}@${{ secrets.AZURE_HOST }}:/home/${{ secrets.AZURE_USER }}/app/whoknows/new_app_ruby"

      - name: Deploy latest image on VM
        run: |
          ssh -i ~/.ssh/id_rsa ${{ secrets.AZURE_USER }}@${{ secrets.AZURE_HOST }} << EOF
              set -e
              echo "Logging in to GHCR..."
              echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io \
              -u "${{ github.actor }}" \
              --password-stdin

              cd ~/app/whoknows/new_app_ruby

              export IMAGE_TAG=sha-${{ github.sha }}
              export SESSION_SECRET='${{ secrets.SESSION_SECRET }}'
              export POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}'

              docker compose down || true
              docker compose pull
              docker compose up -d --remove-orphans


              echo "Deployment complete! Running containers:"
              docker compose ps
          EOF

